TELEGRAM_BOT_TOKEN=
TELEGRAM_API_BASE_URL=
TELEGRAM_LOCAL_FILE_SERVER_ROOT=
TELEGRAM_LOCAL_FILE_HOST_ROOT=
TELEGRAM_WEBHOOK_SECRET=
SHELL_RAINING_PORT=3457
SHELL_RAINING_ALLOWED_USERS=
SHELL_RAINING_BASE_DIR=
SHELL_RAINING_WORKSPACE=
SHELL_RAINING_AGENT_DIR=
SHELL_RAINING_SKILLS_DIR=/Users/shellraining/Documents/dotfiles/skills
SHELL_RAINING_RATE_LIMIT_COOLDOWN_MS=5000
SHELL_RAINING_SHOW_THINKING=false
SHELL_RAINING_CRAWL_URL=https://crawl.shellraining.xyz
SHELL_RAINING_VIKUNJA_URL=https://todo.shellraining.xyz
SHELL_RAINING_API_BASE_URL=https://api.shellraining.xyz
